In [0]:
###EXERCISE1

In [0]:
name = "Julie"
age = "42"

samplestring = "Hi my name is {} and I am {} years old".format(name, age)

print(samplestring)

Hi my name is Julie and I am 42 years old

In [0]:
###EXERCISE2

In [0]:
year = 1830 

if year is 2000 <= 2100:
    print("Welcome to the 21st Century")
else:
    print("You are before or after the 21st century")

You are before or after the 21st century

In [0]:
###EXERCISE3

In [0]:
"hello"*3

'hellohellohello'

In [0]:
###EXERCISE4

In [0]:
# Challenge - Lists Exercise
# Create a variable named shoes that is a
# list of the following items, in order:
# Spizikes
# Air Force 1
# Curry 2
# Melo 5

In [0]:
shoesnames = ["Spizikes", "Air Force 1", "Curry 2", "Melo 5"]
print(shoesnames)

['Spizikes', 'Air Force 1', 'Curry 2', 'Melo 5']

In [0]:
###EXERCISE 5

In [0]:

# Challenge - Loops Exercise
# Given a list of ints below called numbers.
# Print every number that is greater than 90.

numbers = [ 76, 83, 16, 69, 52, 78, 10, 77, 45, 52,
    32, 17, 58, 54, 79, 72, 55, 50, 81, 74,
    45, 33, 38, 10, 40, 44, 70, 81, 79, 28,
    83, 41, 14, 16, 27, 38, 20, 84, 24, 50,
    59, 71, 1, 13, 56, 91, 29, 54, 65, 23,
    60, 57, 13, 39, 58, 94, 94, 42, 46, 58,
    59, 29, 69, 60, 83, 9, 83, 5, 64, 70,
    55, 89, 67, 89, 70, 8, 90, 17, 48, 17,
    94, 18, 98, 72, 96, 26, 13, 7, 58, 67,
    38, 48, 43, 98, 65, 8, 74, 44, 92 ]

for number in numbers:
  if number > 90:
    print(number)

91
94
94
94
98
96
98
92

In [0]:
###EXERCISE6
words = {"PoGo":"Slang for Pokemon Go","Spange":"To collect spare change, either from couches, passerbys on the street or any numerous other ways and means","Lie-Fi":"When your phone or tablet indicates that you are connected to a wireless network, however you are still unable to load webpages or use any internet services with your device"}

#print(words)
print(words["PoGo"])

Slang for Pokemon Go

In [0]:
###EXERCISE 7
class Car:

    def __init__(self, year, make, model):
        self.year = year
        self.make = make
        self.model = model

    def age(self):
      return 2019 - self.year
car_object = Car(2014, 'Made in Italy', 'Toyota')
car_object.age()

5

In [0]:
###1.2.2

In [0]:
#Create a program that lists all of the unique words in a song and displays the count of each unique word.
import re

string = """I don't like my mind right now
Stacking up problems that are so unnecessary
Wish that I could slow things down
I wanna let go but there's comfort in the panic
And I drive myself crazy
Thinking everything's about me
Yeah, I drive myself crazy
'Cause I can't escape the gravity
I'm holding on
Why is everything so heavy?
Holding on
So much more than I can carry
I keep dragging around what's bringing me down
If I just let go, I'd be set free
Holding on
Why is everything so heavy?
You say that I'm paranoid
But I'm pretty sure the world is out to get me
It's not like I make the choice
To let my mind stay so fucking messy
I know I'm not the center of the universe
But you keep spinning 'round me just the same
I know I'm not the center of the universe
But you…"""

# Split words to list
x = string.lower().split()

# Clean words by removing non-alphanumeric
clean_x = [re.sub(r'\W+', '', word) for word in x]
x = {}
for y in clean_x:
  x[y] = x.get(y, 0)+ 1
  
print(x)

{'i': 12, 'dont': 1, 'like': 2, 'my': 2, 'mind': 2, 'right': 1, 'now': 1, 'stacking': 1, 'up': 1, 'problems': 1, 'that': 3, 'are': 1, 'so': 5, 'unnecessary': 1, 'wish': 1, 'could': 1, 'slow': 1, 'things': 1, 'down': 2, 'wanna': 1, 'let': 3, 'go': 2, 'but': 4, 'theres': 1, 'comfort': 1, 'in': 1, 'the': 9, 'panic': 1, 'and': 1, 'drive': 2, 'myself': 2, 'crazy': 2, 'thinking': 1, 'everythings': 1, 'about': 1, 'me': 4, 'yeah': 1, 'cause': 1, 'cant': 1, 'escape': 1, 'gravity': 1, 'im': 5, 'holding': 3, 'on': 3, 'why': 2, 'is': 3, 'everything': 2, 'heavy': 2, 'much': 1, 'more': 1, 'than': 1, 'can': 1, 'carry': 1, 'keep': 2, 'dragging': 1, 'around': 1, 'whats': 1, 'bringing': 1, 'if': 1, 'just': 2, 'id': 1, 'be': 1, 'set': 1, 'free': 1, 'you': 3, 'say': 1, 'paranoid': 1, 'pretty': 1, 'sure': 1, 'world': 1, 'out': 1, 'to': 2, 'get': 1, 'its': 1, 'not': 3, 'make': 1, 'choice': 1, 'stay': 1, 'fucking': 1, 'messy': 1, 'know': 2, 'center': 2, 'of': 2, 'universe': 2, 'spinning': 1, 'round': 1, 'same': 1}

In [0]:
###1.2.3

In [0]:
#What is 7 to the power of 4?
print (7**4)

2401

In [0]:
#Split the string

x = "Hi there Sam!"

print(x.split())

['Hi', 'there', 'Sam!']

In [0]:
#Given the variables:**
planet = "Earth"
diameter = 12742

sentence = ("The diameter of {} is {} kilometers".format(planet,diameter))
print(sentence)

#f"The diameter of {planet} is {12742} kilometers."

The diameter of Earth is 12742 kilometers

In [0]:
##Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

lst[3][1][2][0]

'hello'

In [0]:
#Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky


d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d.keys()

d["k1"][3]["tricky"][3]["target"][3]

'hello'

In [0]:
#What is the main difference between a tuple and a list? 
#tuple is immutable

t = (1, 2, 3)
list = [1, 2, 3, 4, 5]

In [0]:
#Create a function that grabs the email website domain from a string in the form:

'user@domain.com'.split('@')[1]

'domain.com'

##B

In [0]:
def findDog(st):
    if 'dog' in st.lower(): 
        print("True")
    else:
        print("False")

st = input("Please key a string: >")
findDog(st)

Please key a string: >dog
True

In [0]:
#Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. 
string = input("Please enter your string: ")
def countdogs(string):
    count = 0
    for word in string.lower().split():
        if word == 'dog' or word == 'dogs':
            count = count + 1
            print(count)

countdogs(string)

Please enter your string:  'This dog runs faster than the other dog dude!'
1
2

In [0]:
# Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:
seq = ['soup','dog','salad','cat','great']

list(filter(lambda word: word[0]=='s',seq))

['soup', 'salad']

In [0]:
#final problem
print("Please enter the speed(km/h)(only number please): \n")
speed = int(input("> "))

print("Please enter your birthday: (in DD/MM/YYYY format)\n")
birthday = str(input("> "))

def speeding(speed, birthday):
    if birthday == '29/08/1989':
        s = speed - 5
    else:
        s = speed

    if s <= 60:
        print("You pass.")
    elif s > 61 and s <= 80:
        print("You get a small ticket")
    else:
        print("You get a big ticket.")

speeding(speed, birthday)

Please enter the speed(km/h)(only number please):

> 45
Please enter your birthday: (in DD/MM/YYYY format)

> 02/14/1998
You pass.